.Article{
    min-height: 60vh;
}
.Article__Hero{
    width: 100%;
    min-width: 1430px;
    min-height: 1430px;
    height: auto;
}
.Article__p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: large;
}