.section__hero {
  margin-top: 2.25em;
}
.Hero__container {
  display: flex;
  flex-direction: column;
}
.Hero__container--titles {
  display: flex;
  margin-left: 10%;
  flex-direction: column;
}
.Hero__image {
  width: 100%;
}
.Hero__container--image {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
}
.text__notunderline {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  
}
.Hero__container--buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 10%;

  gap: 1em;
}
.icon__button {
  width: 2rem;
  height: 2rem;
    margin-right: 0.5em;
  fill: white;
}
.Hero__text--gradient {
  font-size: 3.75rem;
  display: block;
  background: linear-gradient(135deg, #d93d59 0%, #f2ae2e 50%, #f2921d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.User__Coins-list {
  list-style: none;
  display: flex;
}
.User__Coins-item {
  margin-right: -10;
}
@media (min-width: 768px) {
  .Hero__container {
    flex-direction: row;
  }
  .Hero__container--titles {
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .Hero__container {
  }
  .Hero__container--buttons {
    flex-direction: row;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
  }
  .Hero__container--titles {
    align-items: center;
    justify-content: center;
  }
  .text__notunderline{
    width: 175px;
  }
}
