.btn--scroll {
  position: fixed;
  height: 45px;
  width: 45px;
  background-color: transparent;
  
  fill: var(--primaryColor);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  bottom: 0.625rem;
  right: 0.625rem;
}
.btn--scroll:hover {
  fill: var(--primaryColorHover);
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  .btn--scroll {
    height: 60px;
    width: 60px;
  }
}

@media (min-width: 992px) {
  .btn--scroll {
    height: 75px;
    width: 75px;
  }
}
