.btn--scroll {
  position: fixed;
  background-color: var(--primaryColor);
  height: 50px;
  width: 50px;
  background-color: var(--primaryColor);
  
  fill: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  bottom: 0.625rem;
  right: 0.625rem;
}
.btn--scroll:hover {
  background-color: var(--primaryColorHover);
  fill: rgba(255, 255, 255, 0.8);
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  .btn--scroll {
    height: 60px;
    width: 60px;
  }
}

@media (min-width: 992px) {
  .btn--scroll {
  }
}
