j.container__icon {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: start;
}
.logo__header {
  color: var(--thirdColor);
  font-size: 1.375rem;
  font-weight: bold;

  text-decoration: none;
}

@media (min-width: 768px) {
  .container__icon {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .container__icon {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
