.footer {
  background-color: var(--fifthColor);
  padding-top: 2rem;
}
.footer__nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.container__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__nav-link {
  font-size: 1.75rem;
  margin-top: 2rem;
  text-decoration: none;
}

.icons {
  fill: var(--fourtColor);
}
.icons:hover {
  fill: var(--fourtColorHover);
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .footer__nav-link {
  font-size: 1.25rem;
  text-decoration: none;
  margin-top: 0;
}

  .container__footer {
    margin-left: 12.5%;
  }
  .container__footer {
    align-items: start;
    justify-content: start;
    flex-direction: row;
  }
  .footer__nav-list {
    flex-direction: row;
    gap: 1rem;
  }
  .footer__social-network{
    margin-left: 12.5%;
  }
}
