.slider-users__section {
  text-align: center;
  padding: 40px 0;
}

.slider-users__container {
  overflow: hidden;
  position: relative;
  min-height: 512px; 
  max-height: 1024px; 
}

.slider-users {
  display: flex;
  animation: scroll-horizontal 15s linear infinite;
}

.slider-users__item {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 500px;
  margin: 0 10px; 
  text-align: center;
}
.slider-users__item:hover {
   transform: scale(1.05);
   transition: transform 0.3s;
   cursor: pointer;

}
.slider-users__item:hover > .slider-users__name{
  font-weight: 600;
  margin: 10px 0;
  transition: font-weight 0.3s;
}
.slider-users__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 14px;
}


@keyframes scroll-horizontal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider-users:hover {
  animation-play-state: paused;
}
