:root {
  --primaryColor: rgba(217, 61, 89, 1);
  --secondColor: rgba(242, 174, 46, 1);
  --thirdColor: rgba(242, 146, 29, 1);
  --fourtColor: rgba(242, 88, 53, 1);
  --fifthColor: rgba(242, 242, 242, 1);
  --primaryColorHover: rgba(217, 61, 89,.5);
  --secondColorHover: rgba(242, 174, 46,.5);
  --thirdColorHover: rgba(242, 146, 29,.5);
  --fourtColorHover: rgba(242, 88, 53,.5);
  --fifthColorHover: rgba(242, 242, 242,.5);
  scroll-behavior: smooth;
}
.section{
  margin-top: 2rem;
  margin-bottom: 2rem;

}
.container {
  display: flex;
  flex-direction: column;
}
.container__left-site {
  display: none;
}
.container-center-site {
}
.button--outline {
  background-color: none;
  text-align: center;
  margin-right: 1.5625rem;
  margin-left: 1.5625rem;
  border: 0.25rem solid var(--primaryColor);
  color: var(--primaryColor);
  font-weight: bold;
  border-radius: 1.5625rem;
  text-transform: uppercase;
  padding: 1rem;
  animation: 0.5s linear 1s infinite alternate slide-in;
}
.button--outline:hover {
  background-color: var(--primaryColor);
  color: white;
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .container {
    /* TODO: corregir el important ja que no aplica de manera correcta el flex direcio */
    flex-direction: row !important;
  }
  .container__left-site {
    display: inline-block;
    width: 12.5%;
  }
  .container-center-site {
    width: 75%;
  }
}
